<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-row class="imgDiv">
                <div nz-col nzSpan="24">
                    <h1 style="margin-left: 70px;">Connexion</h1>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Veuillez entrer votre e-mail">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="userName" placeholder="E-mail"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Veuillez entrer votre mot de passe">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="password"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button (click)="submitForm()" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Se connecter</button>
                Ou <a routerLink="/inscription-client">s'inscrire en tant que client</a>
                <br>ou bien <a routerLink="/inscription-entreprise">s'inscrire en tant qu'entreprise</a>
            </form>
        </div>
    </div>
</div>
