<nz-header class="main-header" nz-row nzType="flex" style="background-color: #1473B9">
  <div>
    <h2 style="color: white; padding-left: 10px;">ECE commerce</h2>
  </div>

  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
    <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Connexion</a>
    <a nz-button nzType="link" routerLink="/inscription" routerLinkActive="active">Inscription</a>
  </div>

</nz-header>

<router-outlet></router-outlet>